.stripe
  = fullwidth do
    %h3 Upload Data

    %input(type="radio" name="select-upload-option" value="gss" id="select-upload-option-gss" checked="true")
    %label(for="select-upload-option-gss") GSS Codes
    %input(type="radio" name="select-upload-option" value="postcodes" id="select-upload-option-postcodes")
    %label(for="select-upload-option-postcodes") Postcodes


    = form_tag selectors_path, multipart: true, id: 'gss-form' do
      = file_field_tag :csv_upload
      = submit_tag 'Upload'

    = form_tag selectors_path(postcode: true), multipart: true, style: 'display: none;', id: 'postcodes-form' do
      = file_field_tag :csv_upload
      .help
        Postcodes will be matched against
        %a(href="/data/lower-layer-super-output-areas" target="_blank") LSOA
      = submit_tag 'Upload'
    - if flash[:error]
      .error= flash[:error]

    :javascript
      $('input[name="select-upload-option"]:radio').change(function(e) {
        var val = this.value;

        $('input[type="file"]').val(''); // reset file inputs

        if (val == 'gss') {
          $('#gss-form').show();
          $('#postcodes-form').hide();
        } else {
          $('#gss-form').hide();
          $('#postcodes-form').show();
        }

        return true;
      });

    :markdown
      ###What is this?

      This **Statistics Selector** lets you choose data from across the range of DCLG datasets, selecting values for the geographical areas that interest you.

      ###Get started

      Upload a CSV or text file with a single __GSS code__ or __UK Postcode__ on each line (for example by making a spreadsheet with a single column and saving it as Comma Separated Values).

      The GSS code is the Office for National Statistics identifier for a geographical region. It consists of a letter followed by 8 digits. The tool currently works for English local authorities (with codes starting E06, E07, E08 or E09) or for English LSOAs (codes starting E01).

      You can find the definitive list of codes on the ONS website ([Local Authorities](https://geoportal.statistics.gov.uk/Docs/Names%20and%20Codes/Local_authority_districts_\(UK\)_2012_Names_and_Codes.zip), [LSOAs](https://geoportal.statistics.gov.uk/Docs/Names%20and%20Codes/Lower_layer_super_output_areas_\(E+W\)_2001_Names_and_Codes.zip)).  There is also this useful summary on [Wikipedia](http://en.wikipedia.org/wiki/ONS_coding_system).

      The file can have a maximum of 500 rows and should contain only local authorities, only LSOAs *or* UK Postcodes.

      For example. try uploading this [GSS codes CSV file](/example_gss_codes.csv) or this [postcodes CSV file](/example_post_codes.csv).
