.pmd
	= fullwidth do
		%aside.error.hidden_when_javascript_available.hidden_for_mobile
			%span
				Sorry. This interactive requires <strong>JavaScript</strong>.

	= fullwidth do
		%aside.error.hidden_for_not_mobile
			%span
				Sorry. This interactive is not available on devices with small screens.

.stripe.pmd.visible_when_javascript_available.hidden_for_mobile
	= row do
		.pmd_box_full{style:"margin-top:24px;"}
			.predicate Productivity Tool
			%h2 
				=STATSELECTOR_DISPLAY_NAME
			%p
				Choose statistical data from across the whole range of OpenDataCommunities datasets, and compile them into a spreadsheet for download.
	- if @imported_count
		= render partial: 'imported', locals: { row_count: @imported_count, non_gss_codes: @non_gss_codes } 
	= row do
		.pmd_box_full{style:"margin-top:24px;"}
			.predicate Spreadsheet preview
			#preview
				%table
					= render 'snapshot', snapshot: @snapshot
					%tfoot
						%tr
							%td &nbsp;
							- if @snapshot.has_secondary_row_uris?
								%td
							- @selector.fragments.each do |fragment|
								%th.fragment-actions{ colspan: fragment.volume_of_selected_cube, class: dom_class_for_fragment(fragment) }
									= link_to selector_fragment_path(@selector, id: fragment.id), class: 'remove-fragment', method: :delete do
										Remove Columns
				%small
					Previewing the first 4 of TODO rows
			- if @selector.fragments.present?
				= link_to download_selector_path(@selector), class: 'btn mini' do
					Download
				%div{style:'color:#ccc;'}
					Permalink:
					= selector_url(@selector)

	= row do
		.pmd_box_full
			%h3.divider Step 2: Add Data
	= row do
		.pmd_box_full
			.actions
				= link_to datasets_selector_fragments_path(@selector), class: 'btn mini', id: 'add-data-button', remote: true do
					Add Data
				:javascript
					$('#add-data-button').click(function() {
						$('.spin').show();
						$('#add-data-button').hide();
					});
#add-data
	= row do
		.pmd_box_full
			.spin(style="display: none;")
				(preparing data)
				= image_tag 'publish_my_data/dclg_stats_selector/spinner.gif' 

